name: "[Artifacts] Generate for Testing"

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: "Commit SHA to checkout"
        required: true
        type: string

jobs:
  artifacts:
    uses: ./.github/workflows/artifacts-template.yml
    with:
      git_ref: ${{ github.event.inputs.commit_sha }}
